body {
    min-width: 700px;
    font: 30px Arial;
    background-image: url("imgs/index_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 8px 5px;
}

nav {
    line-height: 2em;
    margin-top: 100px;
    border-radius: 8px;
    grid-row: 2/4;
    height: 500px;
    padding: 50px;
}

nav li {
    font: 50px Calibri;
    font-weight: bold;
    text-align: left;
    list-style: none;
    text-decoration: none;
}

header {
    grid-column: 1/3;
    height: 120px;
}

.header {
    float: left;
    font: 50px Calibri;
    text-align: center;
    color: black;
    padding: 50px;
}

#myIMG {
    display: inline-block;
    float: left;
    border-radius: 100px;
    border: 5px;
    margin: 50px;
    z-index: 2;
}

#myPic {
    display: inline-block;
    float: left;
    border-radius: 100px;
    z-index: 2;
    margin-top: 20px;
}

#hire {
    float: right;
    font: 20px Calibri;
    color: darkgray;
    padding: 40px;
}

a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

a:hover {
    color: grey;
}

.audio {
    margin-top: 50px;
    margin-bottom: 20px;
}

audio {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 5px ridge pink;
}

.subhead {
    font: 40px Arial;
    text-align: left;
    color: grey;
    margin: 10px;
}

.intro {
    float: left;
    font: 30px Arial;
    text-align: left;
    text-indent: 0.3em;
    color: rebeccapurple;
}

.bgp {
    float: right;
    border-radius: 15px;
    width: 300px;
    height: 200px;
}

.list {
    font: 25px Arial;
    color: rebeccapurple;
    text-align: left;
    padding: 10px;
    line-height: 2em;
}

footer {
    grid-column: 2/3;
}

.copyright {
    font: 15px Arial;
    color: gray;
    padding: 20px;
    text-align: left;
}

.linkin-icon::before {
    content: url("imgs/linkin_icon.png");
    width: 10px;
    height: 10px;
    padding-right: 15px;
}

.mail-icon::before {
    content: url("imgs/mail_icon.png");
    width: 30px;
    height: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.skype-icon::before {
    content: url("imgs/skype_icon.png");
    width: 25px;
    height: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
